python-telegram-bot==22.5

httpx[socks]==0.27.0

psycopg2-binary==2.9.9
SQLAlchemy==2.0.23
pgvector==0.2.4

python-dotenv==1.0.0

openai==1.6.1

sentence-transformers==2.2.2


pydantic==2.5.3
pydantic-settings==2.1.0
annotated-types==0.7.0